.header-banner {
  @media only screen and (min-width: 576px) and (max-width: 1199.98px) {
    .header-banner-title {
      position: absolute;
      top: 20%;
      left: 5%;

      .learn-anytime-anywhere {
        font-size: 25px;
      }

      .at-hapolearn {
        font-size: 25px;
      }

      .description {
        font-size: 10px;
      }

      .start-learning {
        font-size: 15px;
      }
    }
  }
  @media only screen and (min-width: 1200px) {
    .header-banner-title {
      position: absolute;
      top: 20%;
      left: 3%;

      .at-hapolearn {
        font-size: 75px;
      }

      .description {
        font-size: 20px;
      }

      .start-learning {
        font-size: 40px;
      }
    }
  }
}

.header-footer {
  height: 150px;
  background-color: $gray;
}
