$font_Open_Sans: "Open Sans", sans-serif;
$font_UTM_BryantLG: "utm_bryantlgregular";
$white_color: #ffffff;
$text_color: #505353;
$title_color: #b2d235;
$button_color: #b2d235;
$button_hover_color: #748b18;
$hapo_learn_titile_color: #11114e;
$frontend_course_color: #3f6185;
$laravel_course_color: #dc594c;
$php_course_color: #556598;
$hapo_learn_banner_background_color: #e5e5e5;
$hapo_learn_banner_box_shadow_color: rgba(0, 0, 0, 0.25);
$main_courses_box_shadow: #6f8710;
$css_course_color: #24abe2;
$rails_course_color: #e14e40;
$java_course_color: #1b75bb;
$view_all_courses: #90ab26;
$border_comment: #e2e2e2;
$yellow_color: #f2c54f;
$vertical_in_comment: #d9dadc;
$arrow_color: #c4c4c4;
$footer_bottom_color: #454545;
$hapolearn_txt_in_chatbox: #7f7f7f;
$background_message: #f1f0f0;
$button_message_color: #3184f7;
$chat_with_hapolearn_in_messenger_txt: #b3b3b3;
$background_color_input: #f2f2f2;
$border_color_input: #e1e1e1;
$login_with_color: #dbdbdb;
$google_color: #dc4e41;
$google_hover_color: #a22014;
$facebook_color: #3b5999;
$facebook_hover_color: #1f3669;
$messenger_button_hover_color: #1d56a7;
$icon_arrow_feedback_color: #969494;
$background_color_header_in_768px: #fefbfb;

.feedback {
    margin-top: -100px;
    .feedback-title {
        color: $light-green;
        font-size: 2.5rem;
    }

    .feedback-description {
        @media only screen and (min-width: 1024px) {
            width: 60%;
            font-size: 26px;
        }
        @media only screen and (max-width: 1023.98px) {
            width: 100%;
            font-size: 18px;
        }
    }

    .comment {
        border: 0.5px gray solid;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 5px 10px 8px gray;
        min-height: 150px;

        .comment-text {
            padding: 1em;
            border-left: 5px gray solid;
        }
    }
}

.customer {
    display: flex;

    .customer-avatar {
        height: 60px;
        width: 60px;
        margin-left: 11px;
        border-radius: 50%;
        background-color: $light-green;
        .customer-avatar-img {
            width: 100%;
        }
    }

    .customer-name {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: $hapo_learn_titile_color;
        -webkit-text-stroke-width: 0.5px;
    }

    .customer-languge {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $text_color;
    }

    .customer-rate {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: $yellow_color;
    }
}

.comment-div {
    .comment {
        border: 0.5px solid $border_comment;
        border-radius: 10px;
    }

    .comment:after,
    .comment:before {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        width: 0;
        height: 0;
        border-style: solid;
    }

    /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
    .comment:after {
        left: 30px;
        border-color: white transparent transparent transparent;
        border-width: 10px;
    }

    /* this border color controlls the outside, thin border */
    .comment:before {
        left: 29px;
        border-color: gray transparent transparent transparent;
        border-width: 11px;
    }
}
