@font-face {
  font-family: "utm_bryantlgregular";
  src: url("../fonts/UTM BryantLG.ttf"); }
@font-face {
  font-family: "utm-bryantlg";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11264/UTM_BryantLG.ttf") format("woff"), url("https://candyfonts.com/wp-data/2018/10/26/11264/UTM_BryantLG.ttf") format("opentype"), url("https://candyfonts.com/wp-data/2018/10/26/11264/UTM_BryantLG.ttf") format("truetype"); }
.active-btn {
  border-radius: 50px !important;
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #b2d235;
  color: white !important; }

body {
  font-family: "utm_bryantlgregular";
  letter-spacing: -0.05em; }

h1.title {
  color: #b2d235;
  font-size: 3rem;
  font-weight: bold;
  text-align: center; }

header {
  padding: 2vh 0;
  background-color: white; }

.navbar {
  padding: 0; }
  @media (min-width: 576px) and (max-width: 1199.98px) {
    .navbar {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 575.98px) {
    .navbar a.navbar-brand {
      position: absolute;
      top: -5px;
      left: 25%;
      width: 200px; } }
  .navbar a.navbar-brand img {
    width: 100%; }

@media only screen and (max-width: 575.98px) {
  .fixed {
    position: fixed;
    z-index: 100;
    width: 100vw;
    background-color: white; } }

.navbar-menu-div ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700px;
  line-height: 19.07px;
  text-align: center;
  padding: 0 5px; }
  .navbar-menu-div ul li a {
    display: inline;
    color: black;
    padding: 8px 16px;
    font-weight: bold; }
    .navbar-menu-div ul li a.active {
      border-radius: 25px;
      padding: 10px 30px;
      background-color: #b2d235;
      color: white !important; }

@media only screen and (min-width: 1200px) {
  .navbar-menu-div {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0; } }
@media only screen and (max-width: 575.98px) {
  .navbar-menu-div ul {
    padding: 50px 0; }
    .navbar-menu-div ul li {
      height: 80px;
      font-size: 20px; }
      .navbar-menu-div ul li.align {
        height: 60vh; }
      .navbar-menu-div ul li a.active {
        background-color: white !important;
        color: #b2d235 !important; } }
div.align {
  height: 72px; }

@media only screen and (max-width: 575.98px) {
  .header-banner .header-banner-title {
    position: relative;
    background-color: #eaebf0;
    padding: 5% 10%;
    margin: auto; }
    .header-banner .header-banner-title .learn-anytime-anywhere {
      font-size: 25px; }
    .header-banner .header-banner-title .at-hapolearn {
      font-size: 25px; }
    .header-banner .header-banner-title .description {
      font-size: 15px; }
    .header-banner .header-banner-title .start-learning {
      font-size: 15px;
      display: block; } }
@media only screen and (min-width: 576px) and (max-width: 1199.98px) {
  .header-banner .header-banner-title {
    position: absolute;
    top: 20%;
    left: 5%; }
    .header-banner .header-banner-title .learn-anytime-anywhere {
      font-size: 25px; }
    .header-banner .header-banner-title .at-hapolearn {
      font-size: 25px; }
    .header-banner .header-banner-title .description {
      font-size: 15px; }
    .header-banner .header-banner-title .start-learning {
      font-size: 15px; } }
@media only screen and (min-width: 1200px) {
  .header-banner .header-banner-title {
    position: absolute;
    top: 20%;
    left: 3%; }
    .header-banner .header-banner-title .at-hapolearn {
      font-size: 80px; }
    .header-banner .header-banner-title .description {
      font-size: 20px; }
    .header-banner .header-banner-title .start-learning {
      font-size: 40px; } }

.header-footer {
  height: 150px;
  background-color: #eaebf0; }
  @media only screen and (max-width: 575.98px) {
    .header-footer {
      height: 100px; } }

.outstanding-session {
  margin-top: -150px;
  margin-bottom: 100px; }

.courses-session .row {
  margin-top: 50px; }
  .courses-session .row > div {
    margin-bottom: 20px; }

.card {
  height: 400px;
  border-radius: 15px; }
  .card .card-img {
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
    .card .card-img img {
      max-width: 60%; }
  .card .card-text {
    white-space: wrap;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card .card-title {
    color: #b2d235 !important;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700px;
    line-height: 19.07px; }
  .card .course-link-a {
    font-family: "utm-bryantlg";
    font-size: 1rem;
    font-weight: 700px;
    line-height: 19.07px;
    color: black;
    border-radius: 25px;
    padding: 10px 30px;
    background-color: #b2d235;
    color: white !important; }

.title-underline {
  border: 4px solid #b2d235;
  border-radius: 10px;
  width: 15%; }

.view-other-courses {
  background-color: white !important;
  color: #b2d235 !important; }
  @media only screen and (max-width: 575.98px) {
    .view-other-courses .h-mobile {
      font-size: 5vw; } }

.carousel-inner .background {
  padding: 10% 0; }
@media only screen and (max-width: 575.98px) {
  .carousel-inner .background {
    padding: 15% 0;
    height: 750px; }
  .carousel-inner .decor {
    position: absolute; }
    .carousel-inner .decor.laptop-large {
      width: 80vw;
      bottom: 5%;
      left: 10%; }
    .carousel-inner .decor.laptop-small {
      width: 60vw;
      top: -11%;
      left: 0%; }
    .carousel-inner .decor.why-hapolearn {
      top: 15%;
      left: 40%;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 700px;
      line-height: 19.07px;
      color: white;
      font-size: 40px;
      width: 50%;
      line-height: 50px; }
    .carousel-inner .decor.reason {
      top: 35%;
      left: 10%;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 700px;
      line-height: 19.07px;
      color: white;
      font-size: 12px; } }
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .carousel-inner .decor {
    position: absolute; }
    .carousel-inner .decor.laptop-large {
      width: 40vw;
      top: 45%;
      left: 50%; }
    .carousel-inner .decor.laptop-small {
      width: 33vw;
      top: -11%;
      left: 0%; }
    .carousel-inner .decor.why-hapolearn {
      top: 25%;
      left: 30%;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 700px;
      line-height: 19.07px;
      color: white;
      font-size: 40px; }
    .carousel-inner .decor.reason {
      top: 50%;
      left: 10%;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 700px;
      line-height: 19.07px;
      color: white;
      font-size: 1.5vw; } }
@media only screen and (min-width: 768px) {
  .carousel-inner .decor {
    position: absolute; }
    .carousel-inner .decor.laptop-large {
      width: 40vw;
      top: 30%;
      left: 50%; }
    .carousel-inner .decor.laptop-small {
      width: 33vw;
      top: -11%;
      left: 0%; }
    .carousel-inner .decor.why-hapolearn {
      top: 50%;
      left: 10%;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 700px;
      line-height: 19.07px;
      color: white;
      font-size: 5vw; }
    .carousel-inner .decor.reason {
      top: 60%;
      left: 10%;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 700px;
      line-height: 19.07px;
      color: white;
      font-size: 1.5vw; } }

.feedback {
  padding-bottom: 100px; }
  @media only screen and (min-width: 1024px) {
    .feedback .feedback-description {
      width: 60%;
      font-size: 26px; } }
  @media only screen and (max-width: 1023.98px) {
    .feedback .feedback-description {
      width: 100%;
      font-size: 18px; } }
  .feedback .comment {
    border: 0.5px gray solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 8px gray;
    min-height: 150px; }
    .feedback .comment .comment-text {
      padding: 1em;
      border-left: 5px gray solid; }

.customer {
  display: flex; }
  .customer .customer-avatar {
    height: 60px;
    width: 60px;
    margin-left: 11px;
    border-radius: 50%;
    background-color: #b2d235; }
    .customer .customer-avatar .customer-avatar-img {
      width: 100%; }
  .customer .customer-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #11114e;
    -webkit-text-stroke-width: 0.5px; }
  .customer .customer-languge {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: black; }
  .customer .customer-rate {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #b2d235; }

.comment-div .comment {
  border: 0.5px solid gray;
  border-radius: 10px; }
.comment-div .comment:after,
.comment-div .comment:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid; }
.comment-div .comment:after {
  left: 30px;
  border-color: white transparent transparent transparent;
  border-width: 10px; }
.comment-div .comment:before {
  left: 29px;
  border-color: gray transparent transparent transparent;
  border-width: 11px; }

.become-a-member-banner {
  position: relative; }
  .become-a-member-banner .banner-text {
    background-image: url(../images/green_banner.png);
    background-position: center;
    background-size: cover;
    padding: 10% 0; }
    .become-a-member-banner .banner-text .become-a-member-tilte {
      font-weight: bold;
      letter-spacing: -0.02em;
      color: white; }
    .become-a-member-banner .banner-text .become-a-member-button {
      background: white;
      box-shadow: inset 0px 4px 4px gray;
      border-radius: 35px;
      font-weight: bold;
      color: #b2d235; }
      .become-a-member-banner .banner-text .become-a-member-button:hover {
        text-decoration: none;
        background-color: #b2d235;
        color: white; }
  @media only screen and (max-width: 575.98px) {
    .become-a-member-banner .banner-text .become-a-member-tilte {
      font-size: 1rem;
      margin: 0 20% 5% 20%; }
    .become-a-member-banner .banner-text .become-a-member-button {
      padding: 2% 5%;
      font-size: 0.8rem; } }
  @media only screen and (min-width: 576px) and (max-width: 1199.98px) {
    .become-a-member-banner .banner-text .become-a-member-tilte {
      font-size: 2rem;
      margin: 0 auto 50px auto;
      width: 545px; }
    .become-a-member-banner .banner-text .become-a-member-button {
      background: white;
      box-shadow: inset 0px 4px 4px gray;
      border-radius: 35px;
      padding: 10px 40px;
      font-weight: bold;
      font-size: 30px;
      color: #b2d235; }
      .become-a-member-banner .banner-text .become-a-member-button:hover {
        text-decoration: none;
        background-color: #b2d235;
        color: white; } }
  @media only screen and (min-width: 1200px) {
    .become-a-member-banner .banner-text .become-a-member-tilte {
      font-size: 3em;
      margin: 0 auto 50px auto;
      width: 545px; }
    .become-a-member-banner .banner-text .become-a-member-button {
      border-radius: 35px;
      padding: 10px 40px;
      font-size: 30px; } }

.statistic {
  padding: 5% 0; }
  .statistic-detail {
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0; }

.statistic-detail-part {
  padding: 0 0 40px 0;
  font-size: 60px; }
  .statistic-detail-part .statistic-subtitle {
    font-weight: bold; }
  .statistic-detail-part .statistic-number {
    color: #b2d235;
    font-weight: bold; }
  @media only screen and (max-width: 1199.98px) {
    .statistic-detail-part {
      font-size: 40px; } }

.footer-copyright {
  position: relative;
  text-align: center;
  background: black;
  color: white;
  font-size: 15px; }

.footer {
  position: relative;
  background-color: dimgray; }
  .footer .footer-main {
    padding: 5% 0;
    color: white;
    position: relative; }

.logo-col .hapolearn-logo-icon {
  width: 35px; }
.logo-col .hapolearn-logo-title {
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px; }
@media only screen and (min-width: 1200px) {
  .logo-col .hapolearn-slogan {
    width: 60%;
    margin-left: 13%; } }

.list ul {
  list-style: none; }
  .list ul a {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 35px;
    transition: font-size 0.5s; }
    .list ul a:hover {
      font-size: 25px; }

.contact-col {
  display: flex;
  justify-content: between;
  position: relative; }
  .contact-col a {
    color: white;
    text-align: center;
    text-decoration: none; }
    .contact-col a span:nth-child(1) {
      font-size: 30px; }
    .contact-col a span:nth-child(2) {
      display: block;
      font-size: 0;
      transition: font-size 0.5s; }
    .contact-col a:hover span:nth-child(2) {
      font-size: 20px; }
      @media only screen and (max-width: 1199.98px) {
        .contact-col a:hover span:nth-child(2) {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0); } }

@media only screen and (max-width: 575.98px) {
  .footer-main {
    display: flex;
    flex-wrap: wrap; }
    .footer-main .feature-col {
      order: 1; }
    .footer-main .terms-col {
      order: 2; }
    .footer-main .logo-col {
      order: 3; }
      .footer-main .logo-col .hapolearn-logo span {
        font-size: 20px; }
      .footer-main .logo-col .hapolearn-slogan {
        width: 100%;
        margin: 0; }
    .footer-main .contact-col {
      order: 4; } }

/*# sourceMappingURL=style.css.map */
